@charset "utf-8";


html{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: auto;  /* autoによる既定値 */
    font-size: 62.5%;   /*1rem=10pxにする*/
}

body{
    font-size: 1.6rem;
    margin-right: auto;/*bodyを真ん中に*/
    margin-left: auto;/*bodyを真ん中に*/
    text-align: center;/*bodyの中にあるやつを真ん中に*/
}


/* 最初は要素を隠したいものを記載するところ～ */
#first,#second,#setting,.if_win1,.if_lose1,.if_draw1,.if_win2,.if_lose2,.if_win3,.if_lose3,.cpu4_hide,.if_win4,.if_lose4,.if_draw4{
    display:none;
}



.cpu_hide{
    text-align: center;
    width: 400px;
    height: auto;   
}

.cpu_select img{
    width: auto;
    height: 200px;
    margin: 0 auto;

}

.cpu_select{
    text-align: center;
    padding: 6rem 0 6rem;
    width: 64rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin: 0 auto;
    line-height: 1;
}

.cpu{
    text-align: center;
}

.cpu:hover{
    border: solid;
    border-color: rgb(252, 98, 98);
}


.cpu_img{
    width: auto;
    height: 200px;
}

.jyanken{
    text-align: center;
    width: 42rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.jyanken_hand img{
    width: 60px;
    height: auto;

}

.jyanken_hand:hover{
    background-color: coral;
}

.tweet{
    background-color: #1da1f2;
    color: white;
    font-size: 24px;
    border-radius: 60px;
    border-color: white;
}


.tweet:hover{
    border-bottom-color: transparent;
    transform: translateY(0.1875em);
}